<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>가게 정보 수정</title>
</head>
<body>

<div class="container">
  <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

  <div class="jumbotron3">
    <h4>가게 수정</h4>

    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20%;">
      <form th:action="@{/stores/{id}(id=${storeDTO.id})}" th:object="${storeDTO}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
          <div class="update-div">
            <label for="name">가게 이름</label>
            <input class="update-input form-control" type="text" id="name" name="name"
                   th:field="*{name}"
                   th:placeholder="${#fields.hasErrors('name') ? #fields.errors('name')[0] : '이름 입력'}"
                   th:errorclass="field-error">
          </div>
        </div>
        <div>
          <div class="update-div">
            <label for="phone">전화번호</label>
            <input class="update-input form-control" type="number" id="phone" name="phone"
                   th:fields="*{phone}"
                   th:placeholder="${#fields.hasErrors('phone') ? #fields.errors('phone')[0] : '번호 입력 - 제외'}"
                   th:errorclass="field-error">
          </div>
        </div>

        <div style="display: flex; justify-content: center; margin-top: 10%;">
          <div>
            <button type="submit" id="addRowButton" class="button">
              <p class="btnText">수정</p>
              <div class="btnTwo">
                <p class="btnText2">확인</p>
              </div>
            </button>
          </div>

          <div style="margin-left: 20px">
            <button type="button" id="submitButton" onclick="location.href='/storeList'" class="button">
              <p class="btnText">취소</p>
              <div class="btnTwo">
                <p class="btnText2">확인</p>
              </div>
            </button>
          </div>
        </div>
      </form>

      </div>
    </div>

</div>

</body>
</html>
