<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>
<div class="container">
  <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="jumbotron">
      <div style="display: flex; align-items: center; flex-direction: column; margin-bottom: 50px;">
        <div style="display: flex; justify-content: center;" >
          <form action="/automessage/new/stores" method="get" enctype="multipart/form-data">
              <button type="submit" class="button">
                <p class="btnText">엑셀</p>
                <div class="btnTwo">
                  <p class="btnText2">등록</p>
                </div>
              </button>
          </form>
          <form action="/automessage/new/store" method="get" style="margin-left: 20px">
              <button type="submit" class="button">

                <p class="btnText">직접 입력</p>
                <div class="btnTwo">
                  <p class="btnText2">등록</p>
                </div>
              </button>
          </form>
        </div>
    </div>
  </div>
</div>
</body>
</html>