<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>버튼</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="store, stat : ${storePage.content}">
            <td th:text="${stat.count}"></td>
            <td th:text="${store.storeName}"></td>
            <td th:text="${store.storePhoneNumber}"></td>
            <td><button>수정</button></td>
        </tr>
        </tbody>

    </table>

    <nav class="pagination">
        <ul class="d-flex justify-content-center">
            <li th:if="${startPage > 1}" class="page-item" style="list-style-type: none">
                <button class="page-link" th:attr="onclick='navigateToPage(' + (${startPage} - 10) + ')'">&laquo;</button>
            </li>
            <li th:each="i : ${#numbers.sequence(startPage, endPage)}" class="page-item" style="list-style-type: none">
                <button class="page-link"
                        th:attr="onclick='navigateToPage(' + ${i} + ')'"
                        th:text="${i}"
                        th:classappend="${i == currentPage} ? 'active' : ''">
                </button>
            </li>
            <li th:if="${endPage < totalPages}" class="page-item" style="list-style-type: none">
                <button class="page-link" th:attr="onclick='navigateToPage(' + (${endPage}) + ')'">&raquo;</button>
            </li>
        </ul>
    </nav>

</div>

</body>
<script>
    function navigateToPage(page) {
        location.href = 'storeList?page=' + page;
    }
</script>
</html>