<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>가게 정보 등록</title>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="jumbotron3">
        <div>
            <div style="display: flex; flex-direction: column;">
                <form id="storeForm" th:action="@{/automessage/new/store}" th:object="${storeFormData}" method="post">
                    <table class="table" id="storeTable">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>가게 이름</th>
                                <th>전화번호</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="store, iter : ${storeFormData.stores}">
                                <td th:text="${iter.index + 1}"></td>
                                <!-- 이름 필드 -->
                                <td>
                                    <input type="text"
                                           th:field="*{stores[__${iter.index}__].name}"
                                           th:errorclass="field-error" class="form-control"
                                           th:placeholder="${#fields.hasErrors('stores[' + iter.index + '].name') ? #fields.errors('stores[' + iter.index + '].name')[0] : '가게 이름'}"/>
                                </td>
                                <!-- 전화번호 필드 -->
                                <td>
                                    <input type="number"
                                           th:field="*{stores[__${iter.index}__].phone}"
                                           th:errorclass="field-error" class="form-control"
                                           th:placeholder="${#fields.hasErrors('stores[' + iter.index + '].phone') ? #fields.errors('stores[' + iter.index + '].phone')[0] : '전화 번호'}"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="display: flex; justify-content: center;">
                        <div>
                            <button type="button" id="addRowButton" class="button">
                                <p class="btnText">추가</p>
                                <div class="btnTwo">
                                    <p class="btnText2">등록</p>
                                </div>
                            </button>
                        </div>

                        <div style="margin-left: 20px">
                            <button type="submit" id="submitButton" class="button">
                                <p class="btnText">저장하기</p>
                                <div class="btnTwo">
                                    <p class="btnText2">등록</p>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="loading" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 999; pointer-events: none">
    <img src="/images/loading.gif" alt="Loading..." />
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        let index = $('#storeTable tbody tr').length; // 기존 행의 수를 가져옵니다.

        $('#addRowButton').click(function() {
            let newRow = `
                <tr>
                    <td>${index + 1}</td>
                    <!-- 이름 필드 -->
                    <td>
                        <input type="text"
                               name="stores[${index}].name"
                               placeholder="가게 이름"
                               class="form-control"/>
                    </td>
                    <!-- 전화번호 필드 -->
                    <td>
                        <input type="number"
                               name="stores[${index}].phone"
                               placeholder="-없이 번호"
                               class="form-control"/>
                    </td>
                </tr>`;
            $('#storeTable tbody').append(newRow);
            index++;
        });
    });
</script>
</html>
