<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <div style="display: flex; flex-direction: row-reverse;">
        <form class="search-box" method="get" action="/automessage/stores" style="display: flex">
            <div class="dropdown">
                <button class="dropbtn" type="button" onclick="toggleDropdown()">
                    <span id="selectedCategory" class="dropbtn_content"
                          th:text="${#strings.equals(param.category, 'all') ? '전체 보기' :
                                   #strings.equals(param.category, 'null') ? '미등록 번호' :
                                   #strings.equals(param.category, 'notnull') ? '등록 번호' : '전체 보기'}">전체 보기</span>
                </button>
                <div id="dropdownMenu" class="dropdown-content">
                    <div onclick="selectCategory('전체 보기', 'all')">전체 보기</div>
                    <div onclick="selectCategory('미등록 번호', 'null')">미등록 번호</div>
                    <div onclick="selectCategory('저장 번호', 'notnull')">저장 번호</div>
                </div>
            </div>
            <input type="hidden" name="category" id="category" th:value="${param.category ?: 'all'}">
            <input class="search-input" type="text" name="query" placeholder="검색" th:value="${param.query}">
        </form>
    </div>

    <div style="display: flex; height: 700px; align-content: flex-start; flex-wrap: wrap;">
        <table class="table" style="margin-top: 10px">
            <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>수정/삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="store, stat : ${storePage.content}">
                <td class="storeList_td" th:text="${(currentPage - 1) * 10 + stat.index + 1}"></td>
                <td class="storeList_td" th:text="${store.storeName}"></td>
                <td class="storeList_td" th:text="${store.storePhoneNumber}"></td>
                <td>
                    <div style="display: flex">
                        <form th:action="@{/automessage/stores/{id}(id=${store.storeId})}" method="get" style="margin-right: 5px">
                            <button class="btn btn-primary">수정</button>
                        </form>
                        <form th:action="@{/automessage/store/{id}(id=${store.storeId})}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="delete"/> <!-- hidden input to simulate DELETE method -->
                            <input type="hidden" name="category" th:value="${param.category}"/>
                            <input type="hidden" name="query" th:value="${param.query}"/>
                            <input type="hidden" name="storeName" th:value="${store.storeName}"/>
                            <input type="hidden" name="storePhoneNumber" th:value="${store.storePhoneNumber}"/>
                            <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('정말로 삭제하시겠습니까?')">
                                삭제
                            </button>
                        </form>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <nav class="pagination">
        <ul class="d-flex justify-content-center">
            <li th:if="${startPage > 1}" class="page-item" style="list-style-type: none">
                <button class="page-link" th:attr="onclick='navigateToPage(' + ${startPage - 1} + ')'">&laquo;</button>
            </li>
            <li th:each="i : ${#numbers.sequence(startPage, endPage)}" class="page-item" style="list-style-type: none">
                <button class="page-link"
                        th:attr="onclick='navigateToPage(' + ${i} + ')'"
                        th:text="${i}"
                        th:classappend="${i == currentPage} ? 'active' : ''">
                </button>
            </li>
            <li th:if="${endPage < totalPages}" class="page-item" style="list-style-type: none">
                <button class="page-link" th:attr="onclick='navigateToPage(' + ${endPage + 1} + ')'">&raquo;</button>
            </li>
        </ul>
    </nav>

</div>

</body>
<script th:inline="javascript">

    document.addEventListener("DOMContentLoaded", function () {

        let response = [[${errorMessage}]]

        if (response) {
            alert(response);
        }

    })
    function toggleDropdown() {
        document.getElementById("dropdownMenu").classList.toggle("show");
    }

    function selectCategory(categoryName, categoryValue) {
        document.getElementById("selectedCategory").innerText = categoryName;
        document.getElementById("category").value = categoryValue;
        toggleDropdown();
    }

    function navigateToPage(page) {
        const query = document.querySelector('.search-input').value;
        const category = document.getElementById("category").value;
        location.href = `/automessage/stores?page=${page}&query=${encodeURIComponent(query)}&category=${encodeURIComponent(category)}`;
    }

    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn') && !event.target.matches('.dropbtn_click') && !event.target.matches('.dropbtn_content') && !event.target.matches('.dropbtn_icon')) {
            let dropdowns = document.getElementsByClassName("dropdown-content");
            for (let i = 0; i < dropdowns.length; i++) {
                let openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>