<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
  <div class="jumbotron3">
    <h4>권한 수정</h4>
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20%;">
      <form th:action="@{/automessage/admin/role/{id}(id=${memberDTO.userId})}" th:object="${memberDTO}" method="post" style="display:flex; flex-direction: column">

        <input type="hidden" th:field="*{userId}">
        <div>
          <div class="update-div">
            <label for="memberId">유저 이름</label>
            <p class="update-input form-control" type="text" id="memberId" style="margin-bottom: 0"
               th:text="*{memberId}"
               th:field="*{memberId}">
          </div>
        </div>
        <div>
          <div class="update-div">
            <label for="memberRole">권한</label>
            <select class="update-input form-control" id="memberRole" name="memberRole"
                    th:field="*{memberRole}">
              <option value="USER">사용자</option>
              <option value="WAIT">미승인</option>
              <option value="ADMIN">관리자</option>
            </select>
          </div>
        </div>

        <div style="display: flex; justify-content: center; margin-top: 10%;">
          <div>
            <button type="submit" id="addRowButton" class="button">
              <p class="btnText">수정</p>
              <div class="btnTwo">
                <p class="btnText2">확인</p>
              </div>
            </button>
          </div>

          <div style="margin-left: 20px">
            <button type="button" id="submitButton" onclick="location.href='/automessage/admin'" class="button">
              <p class="btnText">취소</p>
              <div class="btnTwo">
                <p class="btnText2">확인</p>
              </div>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>