<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>

<div class="container">
  <div class="jumbotron">
    <div style="display: flex; flex-direction: column;">
      <h1 class="flex-normal">회원 가입</h1>
      <div>
        <form th:action="@{/signup}" th:object="${signupForm}" method="post">

          <div class="login-div">
            <div>
              <input class="login-input" type="text" th:object="${signupForm.memberId}" placeholder="아이디"/>
            </div>
            <div>
              <input class="login-input" type="password" th:object="${signupForm.memberPassword}" placeholder="비밀번호"/>
            </div>

          </div>

          <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="flex-normal" style="margin-top: 15px">
              <div>
                <button type="submit" id="signupBtn" class="button" style="width: 310px; background: black;">
                  <p class="btnText">회원가입</p>
                  <div class="btnTwo">
                    <p class="btnText2">확인</p>
                  </div>
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>