<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="jumbotron">
        <div style="display: flex; align-items: center; flex-direction: column; margin-bottom: 50px;">
            <div style="display: flex; justify-content: center;" >
                <form th:action="@{/automessage/message/file_send}" method="post" enctype="multipart/form-data">
                    <div class="filebox" id='filebox' style="display: flex">
                        <input id="upload_file" class="upload-name" value="파일 드래그 혹은 첨부" placeholder="파일 드래그 혹은 첨부" disabled="disabled">
                        <label for="file">파일찾기</label>
                        <input type="file" name="file" id="file">
                    </div>
                    <div style="display: flex; justify-content: center; margin-top: 20px" >
                        <button type="submit" id="submitBtn" class="button">
                            <p class="btnText">등록</p>
                            <div class="btnTwo">
                                <p class="btnText2">메시지</p>
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">

    document.addEventListener("DOMContentLoaded", function () {
        let response = [[${errorMessage}]]
        if (response) {
            alert(response);
        }
    })

    document.addEventListener("DOMContentLoaded", function () {
        let fileBox = document.getElementById("filebox");
        let fileInput = document.getElementById("file");
        let uploadName = document.getElementById("upload_file");

        fileBox.addEventListener("dragover", function (e) {
            e.preventDefault();
            console.log("dragover");
        });

        fileBox.addEventListener("drop", function (e) {
            e.preventDefault();

            let files = e.dataTransfer.files;
            if (files.length > 0) {
                let file = files[0];
                if (file.type.includes("excel") || file.type.includes("sheet")) {
                    fileInput.files = files;
                    uploadName.value = file.name; // 파일명 표시
                } else {
                    alert("엑셀 파일만 업로드 가능합니다.");
                }
            }
        });

        fileInput.addEventListener("change", function () {
            let fileName = this.value.split("\\").pop();
            uploadName.value = fileName; // 파일명 표시
        });
    });

</script>
</html>