<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

  <div class="jumbotron2 logForm_jum">
    <div class="logForm_div">
      <table class="table">
        <thead>
        <tr>
          <th style="width: 20%" class="log_th">번호</th>
          <th style="width: 35%" class="log_th">날짜</th>
          <th style="width: 25%" class="log_th">상세정보</th>
          <th style="width: 20%;">선택</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message, stat : ${messageLog.content}">
          <td class="log_td" th:text="${(currentPage - 1) * 10 + stat.index + 1}"></td>
          <td class="log_td" th:text="${message.messageStorageDate}"></td>
          <td class="log_td">
            <form th:action="@{/automessage/message/log/{id}(id=${message.messageStorageId})}" method="get">
              <button type="submit" class="button" style="width: 150px">
                <p class="btnText">상세 정보</p>
                <div class="btnTwo">
                  <p class="btnText2">확인</p>
                </div>
              </button>
            </form>
          </td>
          <td class="log_td">
            <form th:action="@{/automessage/message/log/delete/{id}(id=${message.messageStorageId})}" method="post">
              <button type="submit" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
  </div>

    <div th:replace="~{util/navigation :: pagination(${url}, ${startPage}, ${endPage}, ${currentPage}, ${totalPage})}"></div>

</div>

</div>

</body>
<script th:inline="javascript">

  document.addEventListener("DOMContentLoaded", function () {

    let response = [[${errorMessage}]];

    if (response) {
      alert(response);
    }

  })

  document.addEventListener("DOMContentLoaded", function () {

    let response = [[${response}]];

    if (response) {
      alert(response);
    }

  })

  function navigateToPage(url , page) {
    location.href = `/automessage/${url}?page=${page}`;
  }

</script>

</html>