<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="jumbotron">
        <div style="display: flex; align-items: center; flex-direction: column; margin-bottom: 50px;">
            <div style="display: flex; justify-content: center;" >
                <form action="/sms" method="get">
                    <button type="submit" class="button">
                            <p class="btnText">메시지</p>
                            <div class="btnTwo">
                                <p class="btnText2">전송</p>
                            </div>
                    </button>
                </form>
                <form action="/store" method="get" style="margin-left: 20px">
                    <button type="submit" class="button">
                        <p class="btnText">신규 가게</p>
                        <div class="btnTwo">
                            <p class="btnText2">등록</p>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
