<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">

        <div style="display: flex; align-items: center; flex-direction: column; margin-bottom: 50px;">
            <h1>메시지</h1>
        </div>
        <div style="display: flex; justify-content: space-around; align-items: center; margin-top: 20px">
            <form action="/sms" method="get">
                <button class="btn btn-lg btn-secondary" type="submit">메시지 전송</button>
            </form>
            <form action="/store" method="get">
                <button class="btn btn-lg btn-secondary" type="submit">상점 등록</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>
